/*
  Stolen from Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;

  --color-black: hsla(240, 15%, 10%, 1);
  --color-grey-20: hsl(240, 15%, 20%);
  --color-grey-30: hsl(240, 15%, 30%);
  --color-grey-40: hsl(240, 15%, 40%);
  --color-grey-50: hsl(240, 10%, 50%);
  --color-white: hsl(240, 15%, 90%);

  --color-primary: hsl(271, 65%, 45%);

  color: var(--color-black);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  font-weight: 400;

  background-image: linear-gradient(
    235deg,
    var(--color-grey-40) 25%,
    var(--color-grey-50) 80%
  );
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  height: 100%;
  isolation: isolate;
}
